DATABASE_URL="postgresql://user:password@host:port/database"
JWT_SECRET="your-secret-key"
PORT=4000
NODE_ENV=development
TRAIN_SEARCH_API_URL="https://cttrainsapi.confirmtkt.com/api/v1/trains/search"
