DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=require"
JWT_SECRET="your-secret-key"
PORT=4000
NODE_ENV=development
TRAIN_SEARCH_API_URL="https://cttrainsapi.confirmtkt.com/api/v1/trains/search"
